body {
  font-size: 11pt;
  font-variant-emoji: text;
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  margin: 2em;
  background-color: #000;
  color: #eee;
}

a {
  color: #8080ff;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 20em;
}

figure {
  margin: auto;
  text-align: center;
  font-style: italic;
  color: gray;
}

aside {
  float: right;
  max-width: 15%;
  margin: 1em;
  padding: 10px;
  border-left: 1px solid gray;
}

dt {
  font-weight: bold;
}

.card {
  margin: 10%;
  margin-top: 20em;
  border: 1px solid gray;
  padding: 1em;
  text-align: center;
  h1 {
    margin-top: 0;
  };

  nav {
    margin: 1em;
    * {
      display: block;
    }
  }
}

main {
  flex: 1;
}

footer {
  margin-top: 2em;
  border-top: 1px solid gray;
}

.articles {
  margin-top: 2em;
  a {
    color: inherit;
    article {
      border-top: 1px solid gray;
      padding: 4px;
    }
  }
}

.no-more-posts {
  border-top: 1px solid gray;
  padding: 4px;
  text-align: center;
  font-style: italic;
  color: gray;
}

.tags {
  font-style: italic;
  color: gray;
  padding: 0;
  list-style: none;

  li {
    display: inline;
  }
}

.email {
  font-family: monospace;
  font-style: normal;
}

@media (min-width: 900px) {
  body {
    margin-left: 12%;
    margin-right: 12%;
  }

  .column {
    margin-right: 3%;
    width: 30%;
    float: left;
  }
}

@media only print {
  nav, footer {
    display: none;
  }
}
